<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="title">
        <a href="{{ url_for('create_task') }}"><h1>Create a new task</h1></a>

        <h1>Task Management</h1>
        
        <a href="{{ url_for('create_user') }}"><h1>Create User</h1></a>

    </div>
    
    <h2>Users and Tasks</h2>
    <div class="users-container">
        <ul class="grid-container">
            {% for user in users %}
            <li class="card">
                <div class="title-card">
                    {{ user.user_id }} - {{ user.name }}
                </div>
                <div class="body-card">
                    
                        {% for task in user.tasks %}
                        <div>  {{ task.title }} - {{ task.description }}</div>
                        {% endfor %}
                    
                </div>
                
            </li>
            {% endfor %}
        </ul>
    </div>
    
    
    
    
</body>
</html>
